body{
    font-family: 'Source Sans 3', sans-serif;
    margin: 0 !important;
}

.header{
    padding-top: 8px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: white;
}

.head{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.logo{
    width: 38px;
    height: 36px;
    margin-left: 10px;
    float: left;
}

.left-items{
    margin-left: 35px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    float: left;
}

.dropdown{
    margin-left: 2px;
    font-size: 14px;
}

.search{
    position: relative;
    margin-left: 20px;
    border-radius: 50px;
    width: 155px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-style: italic;
    padding-left: 15px;
    font-size: 16px;
    display: flex;
}

.icon{
    position: absolute;
    top: 19px;
    left: 48%;
}

input[type=text]::placeholder{
    font-family: 'Source Sans 3', sans-serif !important;
}

input[type="text"]:focus{
    border: 3px solid #198754;
    outline: none;
}

.right-items{
    text-decoration: none;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.right-items svg{
    font-size: 15px;
}

.right-items:hover{
    background-color: #eef0f1;
}

.text{
    margin-left: 10px;
    font-family: 'Source Sans 3', sans-serif !important;
    color: black;
    font-size: 16px;
    float: left;
}

.learning{
    background-color: #04aa6d;
    height: 32px;
    display: flex;
    align-items: center;
    float: left;
    padding: 0px 18px 0px 10px;
    font-size: 15px;
    letter-spacing: 1px;
}

.row2{
    background-color: #282A35;
    height: 32px;
    display: flex;
    align-items: center;
}

.row2-left{
    color: white;
    text-decoration: none;
    margin-left: 30px;
    float: left;
    font-size: 15px;
    letter-spacing: 1px;
} 

.row2 svg{
    width: 12px;
    height: 16px;
}

.star1{
    margin-left: 30px;
}

.star2{
    margin-left: 300px;
}

.main{
    padding-left: 50px;
    padding-right: 50px;
}

.my-learning{
    padding-top: 127px;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    color: #282a35;
}

.namebox{
    background: #fff;
    border: 1px solid #dee2e6;
    border-radius: 16px;
    margin-top: 62px;
    padding: 40px;
}

.name{
    font-size: 32px;
}

p{
    margin-top: 0;
    margin-bottom: 10px;
}

.welcome{
    font-style: normal;
    font-weight: 300;
    padding-top: 10px;
    font-size: 18px;
}

.welcome span{
    font-weight: bolder;
}

.start{
    margin-top: 24px;
    background-color: #282a35;
    border-radius: 25px;
    font-family: Source Sans Pro,sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.17;
    min-height: 50px;
    min-width: 271px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.start:hover{
    background-color: #212529;
}

.browse{
    margin-top: 24px;
    background-color: white;
    border: none;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.17;
    min-height: 50px;
    min-width: 200px;
    text-align: center;
    color: #282a35;
    cursor: pointer;
}

.browse:hover{
    text-decoration: underline;
}

.scorecard{
    margin-top: -405px;
    margin-left: 789px;
    position: absolute;
}

.scorecardnew{
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 16px;
    box-shadow: 10px 10px 25px #282a3526;
    box-sizing: border-box;
    color: #282a35;
    cursor: default;
    filter: drop-shadow(10px 10px 25px transparent);
    font-family: Source Sans Pro,sans-serif;
    max-width: 340px;
    position: relative;
    width: 340px;
    height: 434px;
}

.scorewelcome{
    font-size: 18px;
    font-weight: 600;
    height: 34px;
    margin: 24px 0 4px;
    text-align: center;
    font-family: Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    color: #282a35;
}

.yourscore{
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 25px;
    text-align: center;
    font-family: Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.arc{
    display: flex;
    justify-content: center;
}

.arc svg{
    vertical-align: middle;
}

.zero{
    font-size: 64px;
    font-weight: 600;
    line-height: 80px;
    margin-top: -35%;
    text-align: center;
    font-family: Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.points{
    font-size: 14px;
    font-weight: 700;
    margin-top: -4%;
    text-align: center;
    font-family: Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.scorefactors{
    font-size: 13px;
    margin-left: 35px;
    margin-top: 22px;
    padding-bottom: 10px;
}

.scorecardfactors{
    grid-row-gap: 8px;
    grid-column-gap: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 24px 27px;
}

.boxes{
    align-items: flex-start;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 56px;
    padding: 9px 13px 12px;
    font-family: Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.boxes p{
    color: #282a35;
    font-family: Source Sans Pro,sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 2px 0;
    text-align: start;
    vertical-align: middle;
}

.lessons{
    border-right: 8px solid #d9eee1;
}

.quiz{
    border-right: 8px solid #04aa6d;
}

.execrcise{
    border-right: 8px solid #fff4a3;
}

.help button{
    position: fixed;
    top: 91%;
    left: 91%;
    background-color: #04aa6d;
    color: white;
    padding-left: 15px;
    border-radius: 999rem;
    letter-spacing: 1px;
    font-size: 0.954rem;
    padding-right: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none !important;
    font-weight: 700;
    cursor: pointer;
    vertical-align: middle;
}

.help svg{
    fill: white;
    vertical-align: middle;
}

.questionmark{
    padding-right: 8px;
}